  *,div,a {
    margin:0;
    padding:0;
  }
  
  .privacy-policy {
    width:100%;
    background-color:#fff;
    height:10%;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.5s ease;
    z-index: 1031;
  }
  
  .privacy-small {
    color:black;
    background:none;
  }
  
  .privacy-link {
    color:#006DA8;
    background:none;
    text-decoration:underline;
    transition:all .5s ease;
  }

  .privacy-link:hover {
    color:#FF5A29;
    transition: all .5s ease;
  }
  
  
  .privacy-button {
    padding:10px 25px;
    margin-left:15px;
    background:#FF5A29;
    color:white;
    border:0;
    border-radius:5px;
    outline:none;
  }
  
  .closed {
    height:0;
    transition:all 0.5s ease;
  }
  
  .none {
    transition: all .5s ease;
    display:none;
    height:0;
  }
  
  
  @media (max-width:737px) {
    .privacy-policy {
      flex-direction:column;
      text-align:center;
      height:20%!important;
    }

    .closed {
        height:0%!important;
        transition:all 0.5s ease;
    }

    

    .privacy-button {
      margin-top:8px;
      margin-left:0!important;
    }

    
  }